<!DOCTYPE>
<html>
    <head>
        <title> DevSpot Blog </title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    
    <body>
       <div class="ui fixed inverted menu">
           
           <div class="ui container">
               <div class="header iteam"><i class="code icon"></i> DevSpot Blog </div>
               <a class="item ui inverted blue button" href="/"> Home </a>
               <a class="item ui inverted green button" href="/blogs/new"> New Post! </a>
             
               
             </div>
       </div>
        
        
        
        
        
 